<!-- _rules.html.erb -->
<h3>Rules</h3>
(subject to change)
<ol>
  <li>Create your account, and allocate your stats.</li>
  <li>Join a team, or create a team as its team captain.</li>
  <li>Your team's team captain is responsible for joining an available game.</li>
  <li>Once a game has started, it will end when one team remains uneliminated.</li>
  <li>Every 24 hours beginning at midnight PST, you can attack, heal, defend, or surrender.
    <ul>
      <li><strong>Attack</strong> lowers the HP of one player of opposing team by your attack power.  Eliminate players by lowering their HP to 0 or below.</li>
      <li><strong>Heal</strong> increases the HP of one player of your team by your heal power.  Prevent players on your team from losing too much HP!</li>
      <li><strong>Defend</strong> prevents any attacks dealt to you by opponents in the next turn.</li>
      <li><strong>Surrender</strong> eliminates yourself during the next turn.</li>
    </ul>
  </li>
</ol>