<!-- _rules.html.erb -->
<h3>Rules</h3>
(subject to change)
<ol>
  <li>Create your account, and allocate your stats.</li>
  <li>Join a team, or create a team as its team captain.</li>
  <li>Your team's team captain is responsible for creating or joining a game.</li>
  <li>Once two teams are in your game, every 24 hours beginning at midnight PST, you can either attack, heal, defend, or surrender.
    <ul>
      <li><strong>Attack</strong> lowers the HP of one player of opposing team by your attack power.  Eliminate players by lowering their HP to 0 or below.</li>
      <li><strong>Heal</strong> increases the HP of one player of your team by your heal power (can go above your starting HP).  Prevent players on your team from losing too much HP!</li>
      <li><strong>Defend</strong> prevents any attacks dealt to you by opponents in the next turn.</li>
      <li><strong>Surrender</strong> eliminates yourself during the next turn. You will also stop receiving e-mails until game over.</li>
    </ul>
  </li>
  <li>Your team's team captain has access to team's e-mail addresses and stats, and will help point teammates in the direction of what to do.</li>
  <li>At your "My Game" page, which will appear once game has started, you can view a summary of results.</li>
  <li>Game ends when one team is left uneliminated.</li>
</ol>