<h2>Sign Up</h2>
<h3>Rules</h3>
<ol>
  <li>Create your account, and allocate your stats.  The sum of x+y+z must not exceed 10.</li>
  <li>Join a team, or create a team and become its team captain.</li>
  <li>Your team's team captain is responsible for joining an available game.</li>
</ol>
<%= render 'form' %>
